@{
  Layout = "_Layout";
}

<h1>Welcome animal shelter staff!</h1>

// First parameter is the display text
// Second target action in the controller
// Third optional - specifies the controller we want to route to
<p>@Html.ActionLink("See all animals", "Index", "Animals")</p>