@{
  Layout = "_Layout";
}
@using AnimalShelter.Models;

 <ul>
  @foreach(Animal animal in @Model)
  {
    {
     <li> @animal.Type</li>
     <li>@Html.ActionLink($"{animal.Name}", "Details", new { id = animal.AnimalId})</li>
     <li>@Html.ActionLink($"{animal.Breed}", "Details", new { id = animal.AnimalId})</li>
     
    }
    {
      <li>model.OrderBy(model => model.Type)</li> 
    }
   
  }
</ul>